<style type="text/css">

    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    .menu_link {
        display: flex;
    flex-direction: row;
    }

    .menu_link_li {
        list-style-type: none;
        margin: 5px;
    }

    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        border-radius: 10px;
        border-spacing: 0;
        text-align: center;
    }

    th {
        background: #BCEBDD;
        color: white;
        text-shadow: 0 1px 1px #2D2020;
        padding: 10px 20px;
    }

    th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }

    th:first-child, td:first-child {
        text-align: left;
    }

    th:first-child {
        border-top-left-radius: 10px;
    }

    th:last-child {
        border-top-right-radius: 10px;
        border-right: none;
    }

    td {
        padding: 10px 20px;
        background: #F8E391;
    }

    tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }

    tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
    }

    tr td:last-child {
        border-right: none;
    }

    .nesolestag-enadenud {
        margin: 0 auto;
    }

    .kesednsoled:after,
    .kesednsoled:before {
        content: ".";
        display: block;
        overflow: hidden;
        visibility: hidden;
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
        clear: both;
    }

    .ico-wrap {
        color: #a612d4;
        width: 48px;
        height: 48px;
        margin: 30px 18px 5px 5px;
        display: block;
        text-align: center;
        font-size: 25px;
        border: 2px solid #9d1cb7;
        float: left;
        border-radius: 30px;
    }

    .ico-contact {
        line-height: 1.9 !important;
    }

    .meanous-andscoev {
        float: left;
        margin-bottom: 20px;
    }

    .aio-icon-title {
        font-size: 16px;
        color: #950c96;
        line-height: 1;
        margin-bottom: 8px;
    }

    @media (max-width: 767px) {
        .meanous-andscoev,
        .ico-wrap {
            float: none;
            text-align: center;
        }

        .ico-wrap {
            margin: 0 auto 15px auto;
        }
    }
</style>