{% extends "base.html" %}

{% block title %}
Список категорий
{% endblock %}

{% block style %}
{% include 'static/styles.css' %}
{% endblock %}

{% block main_menu %}
{% include 'includes/inc__main_menu.html' %}
{% endblock %}

{% block body %}
<div>
    <a href="/create-category/">Создать новую категорию</a>
</div>
<div>
    <h1>Список категорий</h1>
    <ul>
        {% for el in object_list %}
        <li>
            {{ el.name }} <span>Количество курсов: {{ el.course_count() }}</span>
            <a href="/courses-list/?id={{ el.id }}">Показать курсы</a>
        </li>
        {% endfor %}
    </ul>
</div>
<br>
<hr>

<div>
    <ul>
        <li>
            <a href="/student-list/">Список студентов</a>
        </li>
        <li>
            <a href="/create-student/">Создать студента</a>
        </li>
        <li>
            <a href="/add-student/">Добавить студента на курс</a>
        </li>
    </ul>
</div>

{% endblock %}